* {
    box-sizing: border-box;
}
body {
    margin: 0;
     font-family: "SN Pro", sans-serif;
     background-color: var(--bg-main);
}
.container {
    margin: 0 auto;
    max-width: 970px;
    padding: 0 10px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: pink;
}