.header {
    padding-top: 25px;
}

.nav {
    width: 100%;
}

.nav::after {
    content: "";
    display: block;
    width: 93%;
    height: 1px;
    margin: 32px;
    background-color: var(--bg-main-pink);
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: var(--font-color-pink);
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -10px;
    height: 1px;
    background-color: var(--font-color-pink);
    transition: right .22s;
}

.nav-link:hover {
    color: var(--color-main-peach);
}

.nav-link:hover::after {
    right: 0;
}

@media (max-width: 480px) {
    .header {
        display: none;
    }
}